TZ=America/Los_Angeles

DEBUG=True
APP_LOG_LEVEL=DEBUG
DJANGO_LOG_LEVEL=INFO
ALLOWED_HOSTS=*
SESSION_COOKIE_AGE=1209600
SECRET_KEY=xxxxx
STATIC_ROOT=/data/static
MEDIA_ROOT=/data/media
LANGUAGE_CODE=en-us
USE_TZ=True

CSRF_TRUSTED_ORIGINS=smwc.world
USE_X_FORWARDED_HOST=True
SECURE_REFERRER_POLICY=no-referrer-when-downgrade

DATABASE_NAME=xxxxx
DATABASE_USER=xxxxx
DATABASE_PASS=xxxxx
DATABASE_HOST=localhost
DATABASE_PORT=3306

OAUTH_CLIENT_ID=123456789012345678
OAUTH_CLIENT_SECRET=xxxxx
OAUTH_REDIRECT_URI=https://smwc.world/oauth/callback/
OAUTH_SCOPE=identify webhook.incoming

REDIS_IGNORE_EXCEPTIONS=True
CACHE_BACKEND=django_redis.cache.RedisCache
CACHE_LOCATION=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=redis://redis:6379/1

FLOWER_PORT=5555
FLOWER_URL_PREFIX=flower
FLOWER_PURGE_OFFLINE_WORKERS=60
FLOWER_AUTO_REFRESH=

STATSD_PREFIX=smwcweb
STATSD_PORT=8125
STATSD_HOST=localhost
STATSD_CLIENT=django_statsd.clients.normal

SENTRY_URL=
SENTRY_ENVIRONMENT=dev
SENTRY_DEBUG=False
SENTRY_SAMPLE_RATE=0

BITLY_ACCESS_TOKEN=xxxxx

FTP_HOST=localhost
FTP_USER=xxxxx
FTP_PASS=xxxxx
FTP_DIR=/backup/dev_smwc-web
FTP_KEEP_FILES=10

APP_TMP_DIR=/data/tmp
APP_ROMS_DIR=/data/roms
APP_FLIPS_PATH=/data/bin/flips-linux
APP_SITE_URL=https://smwc.world
APP_STATUS_URL=https://status.smwc.world
APP_PATCHER_URL=https://smwc.world/patcher/
APP_ROMS_URL=https://roms.smwc.world
APP_SMWC_URL=https://www.smwcentral.net
APP_DISCORD_INVITE=https://discord.gg/6pzXJE5

SUPER_USERS=111150265075298304
DJANGO_SUPERUSER_USERNAME=xxxxx
DJANGO_SUPERUSER_PASSWORD=xxxxx
DJANGO_SUPERUSER_EMAIL=xxxxx
