TZ=America/Los_Angeles

DEBUG=True
APP_LOG_LEVEL=DEBUG
DJANGO_LOG_LEVEL=INFO
ALLOWED_HOSTS=*
SESSION_COOKIE_AGE=1209600
SECRET_KEY=xxxxx
STATIC_ROOT=/data/static
MEDIA_ROOT=/data/media
LANGUAGE_CODE=en-us
USE_TZ=True

USE_X_FORWARDED_HOST=True
SECURE_REFERRER_POLICY=no-referrer-when-downgrade

DATABASE_NAME=name
DATABASE_USER=user
DATABASE_PASS=pass
DATABASE_HOST=localhost
DATABASE_PORT=3306

OAUTH_CLIENT_ID=XXXXX
OAUTH_CLIENT_SECRET=XXXXX
OAUTH_REDIRECT_URI=https://dev.smwc.world/oauth/callback/
OAUTH_SCOPE=identify webhook.incoming

CACHE_LOCATION=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=redis://redis:6379/1

FLOWER_PORT=5555
FLOWER_URL_PREFIX=flower
FLOWER_PURGE_OFFLINE_WORKERS=60
FLOWER_AUTO_REFRESH=

STATSD_PREFIX=smwcweb.dev
STATSD_PORT=8125
STATSD_HOST=localhost
STATSD_CLIENT=django_statsd.clients.normal

SENTRY_URL=
SENTRY_SAMPLE_RATE=0.1
SENTRY_DEBUG=False
SENTRY_ENVIRONMENT=dev

BITLY_ACCESS_TOKEN=XXXXX

FTP_HOST=ftpback
FTP_USER=user
FTP_PASS=abc123
FTP_DIR=/backup/dev_smwc-web
FTP_KEEP_FILES=10

APP_ROMS_DIR=/data/roms
APP_TMP_DIR=/data/tmp
APP_FLIPS_PATH=/data/bin/flips-linux
APP_SITE_URL=https://dev.smwc.world
APP_STATUS_URL=https://status-dev.smwc.world
APP_PATCHER_URL=https://dev.smwc.world/patcher
APP_ROMS_URL=https://roms-dev.smwc.world
APP_SMWC_URL=https://www.smwcentral.net
APP_DISCORD_INVITE=https://discord.gg/6pzXJE5
