bs4
celery>=5,<6
django>=4,<5
django-debug-toolbar>=4,<5
django-celery-beat
django-cors-headers
django-extensions
django-redis
# django-statsd
gunicorn
mysqlclient
python-decouple
redis
requests
sentry-sdk
statsd
watchdog
Werkzeug


# Development

django-debug-toolbar<6
django-extensions
watchdog
Werkzeug


# Tools

#bandit
#black
#coverage
#flake8
#mypy
#ruff
yamllint
