bs4
celery>=5,<6
django==3.2.*
django-debug-toolbar>=3,<4
django-celery-beat
django-extensions>=3,<4
django-statsd-mozilla
django-redis
gunicorn
mysqlclient
python-decouple
redis
requests
sentry-sdk
statsd
Werkzeug
