{% extends "main.html" %}
{% block title %}Error{% endblock %}
{% load home_tags %}

{% block head %}{% endblock %}

{% block body %}
    <div class="row mt-2">
        <div class="col">
            <h1>SMW Central ROM Archive</h1>

            <h3>Error</h3>

            <p>An error occurred during authentication. This should be reported a bug.</p>

            <a href="{% url 'home:index' %}" class="btn btn-info btn-lg my-2" role="button">Go Back Home
                <i class="fas fa-home"></i></a>
            <a href="{% url 'home:roms' %}" class="btn btn-success btn-lg my-2" role="button">View ROM Archive
                <i class="fas fa-save"></i></a>
        </div>
    </div>
{% endblock %}
