{% extends "main.html" %}
{% block patcher_active %}active{% endblock %}
{% block title %}ROM Patcher{% endblock %}
{% load staticfiles %}
{% load home_tags %}

{% block head %}{% endblock %}

{% block body %}
    <div class="row mt-2">
        <div class="col">
            <h1>ROM Patcher</h1>

            <ul>
                <li>1. Select the Source Super Mario World unmodified ROM from your computer.</li>
                <li>2. Choose a local or remote patch file or zip containing a patch file.
                    You may also specify a Super Mario World URL from www.smwcentral.net.</li>
            </ul>

            <form id="patch-rom-form" name="patch-rom-form" method="post"
                  action="{% url 'patcher:index' %}" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-group">
                    <label for="inputAvatarFile">1. Source Super Mario World ROM: Super Mario World (USA).sfc</label>
                    <input id="source_rom" name="source_rom" type="file" class="file-upload filestyle disabled"
                           data-buttonText="Select Source ROM" data-buttonName="btn-success" data-buttonBefore="true">
                </div>

                <div class="form-group">
                    <label for="input_patch">2. URL to a patch file, zip file containing a patch file,
                        or smwcentral.net hack page.</label>
                    <input type="text" class="form-control" id="input_patch" name="input_patch"
                           placeholder="https://www.smwcentral.net/?p=section&a=details&id=18791">
                </div>

                <button id="patch-rom-btn" type="submit" class="btn btn-lg btn-success">
                    Patch ROM <i id="search-icon" class="fas fa-sync ml-2"></i></button>
            </form>

            <div class="progress mt-2">
                <div id="rom-status" class="progress-bar" role="progressbar"
                     aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>

        </div>
    </div>
{% endblock %}

{% block tail %}
    <script type="text/javascript" src="{% static 'bootstrap/bootstrap-filestyle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/jquery.fileDownload.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/patcher.js' %}"></script>
{% endblock %}
