{% extends "main.html" %}
{% block roms_active %}active{% endblock %}
{% block title %}ROM List{% endblock %}
{% load static %}
{% load home_tags %}

{% block head %}
    <link href="{% static 'datatables/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="row mt-2">
        <div class="col">
            <h1>ROM List</h1>

        <p>Below is the database of ROM's, if you to view the raw files you can do so
            <a href="{% get_config 'app' 'roms_url' %}" target="_blank">here</a>.</p>

            <table id="roms-table" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Difficulty</th>
                    <th>Length</th>
                    <th>Author(s)</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                {% for rom in roms %}
                    <tr>
                        <td><a href="{{ rom.get_hack_url }}" target="_blank">{{ rom.smwc_id }}</a></td>
                        <td>
                            <a href="{{ rom.get_archive_url }}" target="_blank">{{ rom.name }}</a>
                            {% if rom.featured %}<span class="badge badge-warning">Featured</span>{% endif %}
                            {% if rom.demo %}<span class="badge badge-info">Demo</span>{% endif %}
                        </td>
                        <td>{{ rom.difficulty }}</td>
                        <td>{{ rom.length }}</td>
                        <td>{{ rom.authors }}</td>
                        <td>{{ rom.created_at|date:'d M Y' }}</td>
                    </tr>
                {% endfor %}
                </tbody>
{#                <tfoot>#}
{#                <tr>#}
{#                    <th>ID</th>#}
{#                    <th>Name</th>#}
{#                    <th>Author(s)</th>#}
{#                    <th>Difficulty</th>#}
{#                    <th>Length</th>#}
{#                    <th>Download</th>#}
{#                    <th>Added</th>#}
{#                </tr>#}
{#                </tfoot>#}
            </table>

        </div>
    </div>
{% endblock %}

{% block tail %}
    <script type="text/javascript" src="{% static 'datatables/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'datatables/js/dataTables.bootstrap4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/roms.js' %}"></script>
{% endblock %}
